@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: "#EDE3E4";
  --black: "#231F20";
  --blue: "#39A0ED";
  --green: "#36F1CD";
  --dark-green: "#13C4A3";
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--white);
    background: var(--black);
  }
}
